{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "extends": [
    "next",
    "plugin:@next/next/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["graphql", "simple-import-sort", "react-hooks"],
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/no-children-prop": "off",

    "simple-import-sort/imports": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "printWidth": 100
      }
    ]
  },
  "settings": {
    "import/core-modules": ["path"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
