{
  "root": true,
  "env": {
    "node": true,
    "commonjs": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "ecmaVersion": "latest"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "next",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "graphql",
    "simple-import-sort",
    "react-hooks",
    "@typescript-eslint"
  ],
  "rules": {
    "simple-import-sort/imports": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unescaped-entities": "off",
    "react/no-children-prop": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-unused-vars": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "printWidth": 100
      }
    ]
  },
  "ignorePatterns": [
    "utils"
  ],
  "settings": {
    "import/core-modules": [
      "path"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".jsx"
        ]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}