{
  "root": true,
  "env": {
    "node": true,
    "commonjs": true
  },

  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "sourceType": "module",
    "ecmaVersion": 2020,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint:recommended"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": "warn",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "printWidth": 100
      }
    ]
  },
  "ignorePatterns": ["dist"],
  "settings": {
    "import/core-modules": ["path"],
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".js", ".graphql", ".md"]
      }
    }
  }
}
